body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


.status-top {
  background-image: url('./assets/statusBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 14rem;
}

.nav-search {
  margin: 0;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-search {
  background-color: #f3f6fd;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  margin: 0 10px 1px 2px;
  border-radius: 2rem;
  box-shadow: 1px 2px 0 0 rgba(0, 0, 0, .2);;
}

.status-search>span {
  margin: 0.5rem;
  font-size: 2rem;
}

.status-search>input {
  font-size: 1.1rem;
  background: none;
  border: none;
}

.avtar {
  font-size: 2.5rem;
}

.status-text {
  padding: 0.5rem 0 0 1rem;
  width: 14rem;
  font-size: 1.2rem;
}

.status-text-conclusion {
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
}

.status-text-conclusion>i {
  color: #015ace;
  margin: 0 0 0 0.5rem;
  font-size: 1.25rem;
}

.status-text-conclusion-text {
  color: #015ace;
  padding: 0 0 0 1rem;
  font-size: 0.8rem;
}

.button-cards{
  margin-top: 0.75rem;
  justify-content: space-evenly;
  display: flex;
}

.button-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.button-card-icon{
  width: 80%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  background: #D3E3FD;
  border-radius: 10px;
}

.button-card-icon>i{
  color: #0741A0;
}

.button-card-text{
  margin-top: 0.75rem;
  text-align: center;
}
